@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force a dark global body background for the whole application */
body {
    background-color: #030712; /* Dark Charcoal Background */
    color: white;
}